---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
  {% if page.img %}
          {% assign lake_image_path = page.img %}
          
          {%
            include figure.liquid loading="eager" path=lake_image_path class='img-fluid z-depth-1
      rounded' sizes=95vw
            cache_bust=true
          %}
        
    {% endif %}
    <h1 class="post-title">
  {% if page.link %}
    <a href="{{ page.link }}" target="_blank" rel="noopener">{{ page.title }}</a>
  {% else %}
      {{ page.title }}
    {% endif %}
   </h1>

    <p class="teaching-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
